/* app css stylesheet */

body {
  background-color: #f4eed3;
  background-color: var(--beige);
}

input, button {
  font-family: Catamaran !important;
  font-size: 16px !important;
}

.btn {
    font-family: Catamaran;
    font-size: 16px !important;
    background-color:white !important;
}

.btn-default {
    font-family: Catamaran;
    font-size: 16px !important;
    background-color: #84b39a !important;
    background-color: var(--greyish-teal);
    color: white !important;
}

:root {
	--greyish-teal: #84b39a;
	--beige: #f4eed3;
	--white: #ffffff;
	--mud-brown: #4e330c;
	--black: #333333;
}

.logo {
	width: 130px;
	height: 130px;
  object-fit: contain;
}

.header-area {
	background-color: #84b39a;
  background-color: var(--greyish-teal);
  padding-top:4vh;
  padding-bottom:3vh;
}

.header-text {
	font-family: Merriweather;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.0;
	letter-spacing: -0px;
	color: #4e330c;
  color: var(--mud-brown);
  margin-bottom: 20px;
}

.site-copy {
	font-family: Catamaran;
	font-size: 18px;
	line-height: 1.11;
	letter-spacing: -0px;
	color: #333333;
	color: var(--black);
}

.photo-cover {
    background: url('img/placeholder.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% auto !important;
    height: 1000px;
}