<div class="container">
    <div class="row header-area">
        <div class="col-sm-4">
            <img src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x" class="logo pull-right">
        </div>
        <div class="col-sm-4">
            <p class="header-text">Welcome to<br>Farm Link Hawai‘i</p>
            <p class="site-copy" style="margin-bottom: 24px">Farm Link Hawai‘i is Hawaii‘i’s premiere online marketplace where growers and sellers connect to buy and sell
                locally-grown food.
                <p>
                    <button type="button" class="btn" style="width:135px;height:35px">LEARN MORE</button>
                </p>
        </div>
        <div class="col-sm-4">
            &nbsp;
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-4">
            &nbsp;
        </div>
        <div class="col-sm-4">
            <form method="get" ng-submit="login(loginForm.$valid)" name="loginForm" style="margin-top:2vh;" novalidate>
                <div class="form-group" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }">
                    <input type="email" required class="form-control" autofocus="autofocus" id="email" name="email" ng-model="username" placeholder="Email address">
                    <div class="help-block" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                        <p ng-message="required">a login (your email) is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
                    <input type="password" class="form-control" id="password" name="password" ng-model="password" required="required" placeholder="Password">
                    <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                        <p ng-message="required">a password is required</p>
                    </div>
                </div>
                <div>
                    Did you forget your password?<br><br>
                </div>
                <div ng-if="postError" class="alert alert-danger" role="alert">
                    {{ postErrorMessage }}
                </div>
                <button type="submit" class="btn btn-default" style="width:100%;" ng-disabled="loginForm.$invalid">SIGN IN</button>
                &nbsp;<br>
                <div style="text-align: center">or</div>
                <br>
                <button type="button" ng-click="foo" class="btn" style="width:100%">REGISTER AS A NEW USER</button>
            </form>
        </div>
        <div class="col-sm-4">
            &nbsp;
        </div>
    </div>
</div>